.keyword-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.4rem 0;
}
.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}   